<?php

use PhpCsFixer\Config;
use PhpCsFixer\Finder;

$header = <<<'EOF'
This file is part of the LetsEncrypt ACME client.

@author    Ivanov Aleksandr <misantron@gmail.com>
@copyright 2019
@license   https://github.com/misantron/letsencrypt-client/blob/master/LICENSE MIT License
EOF;

$finder = Finder::create()
    ->exclude('keys')
    ->exclude('tests/keys')
    ->exclude('tests/fixtures')
    ->notPath('tests/bootstrap.php')
    ->in(__DIR__)
;

return Config::create()
    ->setFinder($finder)
    ->setRiskyAllowed(true)
    ->setRules([
        '@PSR2' => true,
        '@Symfony' => true,
        'array_syntax' => ['syntax' => 'short'],
        'cast_spaces' => ['space' => 'single'],
        'yoda_style' => false,
        'concat_space' => ['spacing' => 'one'],
        'phpdoc_annotation_without_dot' => true,
        'combine_consecutive_unsets' => true,
        'date_time_immutable' => true,
        'declare_strict_types' => true,
        'final_internal_class' => true,
        'global_namespace_import' => ['import_classes' => false],
        'header_comment' => ['header' => $header],
    ])
;
